.btn {
    display: inline-block;
    background-color: $mainBlue;
    color: #FFF;
    text-decoration: none;
    padding: .75rem 1.2rem;

    &--orange {
        background-color: $mainOrange;
    }

    &--large {
        font-size: .88rem;
        padding: .9rem 1rem;

        @mixin atSmall {
            font-size: 1.25rem;
            padding: 1.1rem 1.9rem;
        }
    }
}